.footer {
  background-color: var(--color-primario); /* Usando el color azul de UPeU */
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0; /* Usamos padding en lugar de altura fija para más flexibilidad */
  font-size: 14px;
  width: 100%;
}