<!-- header.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-upeu-primary">
  <div class="container-fluid">
    <!-- Puedes poner el logo de la UPeU aquí -->
    <a class="navbar-brand" routerLink="/home">
      UPeU
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/companies" routerLinkActive="active">Companias</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Carreras
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/carreras/sistemas">Ing. de Sistemas</a></li>
            <li><a class="dropdown-item" routerLink="/carreras/contabilidad">Contabilidad</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Ver todas</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
        <!-- Cambiamos la clase del botón -->
        <button class="btn btn-outline-accent" type="submit">Buscar</button>
      </form>
       <!-- <button class="btn btn-danger ms-3" (click)="logout()">Cerrar Sesión</button> -->
    </div>
  </div>
</nav>